doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
       
        link(href="https://fonts.googleapis.com/css2?family=Estonia&family=Mulish:ital,wght@0,400;1,700&family=Raleway:ital,wght@0,400;1,700&family=Roboto+Slab&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="/../css/styles.css")
        link(rel="stylesheet", href="/../css/errores.css")
        link(rel="icon", href="/../img/luna.png", type="image/x-icon")
        title #{titulo}
    body 

        div(class="container")
            .div-errores.flex-column-center
                if error === 401
                    img(src="/../img/401.webp", alt="imagen del error 401", srcset="")
                    h2 !{ mensaje }
                if error === 404
                    img(src="/../img/404.webp", alt="imagen del error 404", srcset="")
                    h2 !{ mensaje }
                if error === 400
                    img(src="/../img/400.webp", alt="imagen del error 400", srcset="") 
                    h2 !{ mensaje }

                span
                    if volver === "atras"
                        a(href="/") Volver a Atras
                    if volver === "inicio" 
                        a(href="/") Volver al Inicio
                   
        div.container
            .flex-center
                

   

                       
         
                     