doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Estonia&family=Mulish:ital,wght@0,400;1,700&family=Raleway:ital,wght@0,400;1,700&family=Roboto+Slab&display=swap" rel="stylesheet")
        
        link(rel="stylesheet", href="/../css/styles.css")
        link(rel="icon", href="/../img/luna.png", type="image/x-icon")
        title #{titulo}
    body(class="body-recuperar-password") 

        
  
        header.flex-between 
            .flex-center
                a(href="/")   
                    img(class="logo" src="/../img/logito3.jpg")
                span(class="span-autor") Master Reiki Usui Rose Mary Alvez
                img( class="img-menu" src="/../img/menu.png" alt="Icono menu")
            
            nav.menu 
                ul(class="flex-around menu-lista")
                    li
                        a(href="/") Inicio
                    li
                        img(src="/../img/menu.png")

        div(class="container flex-center")
            form(action="/auth/olvide-password" method="POST" class="div-recuperar-password")
                h1 Recuperar Cuenta
                div
                    p Introduzca su correo electrónico para buscar tu cuenta.
                    ul 
                        li.li-recuperar-password
                            label(for="") Correo
                            input(type="text" name="correo" class="input-correo-password") 
                        li.li-btns-recuperar-password.flex-center 
                            span(class="cancelar btns") Cancelar
                            button(type="submit" class="btn-recuperar-password btns") Enviar
              
                

    script(src="/../js/login.js")   

                       