.lista-cambiar-password {
    margin: 30px 0px 0px 0px;
    width: 300px;
    text-align: center;
}

.lista-cambiar-password input {
   padding: 5px;
   border-radius: 5px;
   border: 1px solid rgb(199, 199, 199);
   margin: 5px 0px 0px 0px;
   width: 100%;
}

.btn-cambiar-password {
    color: #383636;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    background-color: #f4f0f0;
    border: 1px solid rgb(135, 132, 132);
    margin: 10px 0px 0px 0px;
    width: 100%;
    cursor: pointer;

}
.body-recuperar-password {
    background-color: #dadadb;
}

.div-recuperar-password {
    margin: 30px 0px 30px 0px;
    padding: 10px 0px;
    background-color: rgb(255, 255, 255);;
    border: 1px solid rgb(223, 220, 220);
    width: 400px;
    text-align: center;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.div-recuperar-password div {
    padding: 10px 0px;
}



.div-recuperar-password h1 {
    border-bottom: 1px solid rgb(220, 221, 220);
    padding: 10px;
    font-size:xx-large;
}

.li-recuperar-password{
    margin: 10px 0px;
    
}

.li-recuperar-password label {
    font-size: 16px;
    margin-right: 5px;
    padding: 5px;
}

.li-recuperar-password input {
    margin-right: 5px;
    padding: 5px;
}

.btn-recuperar-password {
    background-color: #100540;
    color: white;
}

.li-btns-recuperar-password {
    border-top: 1px solid rgb(220, 221, 220);
    gap: 5px;
    padding: 10px;
    font-size: large;
}   
